h1 {
    text-align: center;

    font-family: 'Sacramento', cursive;
   
}   


div {
    background-color: thistle;

}
.img {
    display: flex;
    justify-content: center;
    align-items: center; 
}
  a {
    text-align: justify;
}

button {
    background: yellow;
}
